<div class="learn-more">
      <div class="container">
        <div class="row">
          <div class="col-md-6" style="padding-top: 40px; text-align:center;">
            <%= image_tag("matoba.jpg", :size => "120x160") %>
            <h3>電子物理グループ代表　的場正憲</h3><br>
            <br>
            <iframe width="400" height="285" src="https://www.youtube.com/embed/kMsaLiGCdOc" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <h3>的場研究室</h3>
            <p>的場研究室では、半導体・環境エネルギー問題を解決できるような新しい強相関電子材料の設計に取り組んでいます。コンピューターやエネルギー分野にとって欠かせない半導体材料は、私たちの日々の生活を大きく支えています。的場研究室では、より高機能な電子材料の創製を目指し、研究を続けています。<br>
            <br>
            Q「本来ならばものすごく悪い金属といわれた電気が流せないような物質を電気を流せるようにすることによって電子が今まで以上に発揮出来るような舞台設計といいますかそういう物質開発を行っております。」<br>
            <br>
            このような研究をするためには電子間の構造から研究する必要があります。しかしこれには「ムーアの法則」とよばれる法則があり、今の電子のままでは、2020年には原子レベルまで微細化され、それ以上の開発が困難になると予測されています。これを解決させるためには、電子が今まで以上に力を発揮出来る舞台設計、材料開発が必要になってくるのです。<br>
            <br>
            Q「例えば、熱はものすごく伝えないけれども電気は流す材料とか、まあ究極の目標なんですけれども、電気はものすごく流れるような、ほとんど抵抗無く流れていくような材料を探索・設計することで、未来の社会を担うような物を世に送り出すという目標を持って、探索的な実験を行っております。」<br>
            <br>
            電子間にはマイナス電荷によってクーロン反発力と呼ばれる相互作用が発生します。クーロン反発力が大きい電子集団においては、電子はほとんど動けなくなります。このような電子集団を強相関電子系といい、従来理論の予想を超えた集団的な力が発現することがあります。的場研究室では、この強相関電子系に電子の抜け穴を作ることで電子を動きやすくし、今までにない機能が発現する新物質の開発を行っています。<br>
            <br>
            Q「例えば、車の廃熱に関して考えてみると、現実には多くの熱が車から捨てられていますが、そういう熱を電気エネルギーに変換して戻してやることができればもっと効率の高いエコカーが実現出来ます。また、超伝導に関して言えば、ものすごい低温でしか起きないことが、もしも室温で起こすことができるならば、送電線を超伝導線に替えことで電気­を発熱ロスなく送ることができます。超伝導の何が良いかといいますと、抵抗がないので発熱がない事です。発熱無く100パーセント送った電流が遠くまで100パーセント届­くということで、そういうようなものすごい省エネを本当に実現したような社会を作りたいと僕は思っています。」<br>
            <br>
            限界といわれた電子レベルの開発。しかし的場研究室では、発想の転換によって新たな強相関電子材料の開発に挑戦しています。そして、こうした研究を進めることで、より省エネルギーな社会を築きたいと考えています。<br>
            <br>
            Q「これは駄目だという先入観を持たず広い視野を持って、逆転の発想や非常識な発想で誰も知らないものを通して見て、その機能が発現出来るかどうかを実証し検証することによって新しいものが生まれると思います。」</p>
          </div>
        </div>
      </div>
    </div>

    <div class="learn-more">
      <div class="container">
        <div class="row">
          <div class="col-md-6" style="padding-top: 40px; text-align:center;">
            <%= image_tag("kamihara.jpg", :size => "120x160") %>
            <h3>超伝導・物質探索グループ代表　神原陽一</h3><br>
            <br>
            <iframe width="400" height="285" src="https://www.youtube.com/embed/XayS8RhvFZw" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <h3>神原研究室</h3>
            <p>神原研究室では新しい高温超伝導体の探索と、それを利用した超伝導体のケーブル化、すなわち線材化に取り組んでいます。<br>
            現代社会で実用化されている銅、アルミなどの普通の金属は、電流を流すとジュール熱という電気の無駄が発生し、使用可能な電力が小さくなりを失います。<br>
            <br>
            Q「10発電した場合に電力というのは、電線と介して使う方まで10運べないんです。しかし、超伝導体を使いますとそのジュール熱が発生しません。電気抵抗率が全くないので。そうしますと10発電したものが使う側で10使う。使う方はパソコンだったり何だったり一杯あると思いますけれども。使う方で10使える。そういった非常によい電線になります。」<br>
            <br>
            現在もっとも超伝導転移温度（Tc）の高い銅酸化物や鉄オキシニクタイドなどのセラミックスはもろく、加工技術の開発も大きな課題になっています。<br>
            <br>
            Q「大抵高いTCの物はもろいです。セラミックス、陶器。そのセラミックスを多少加工しやすい曲げたり動かし易いメタルで覆ってあげます。超伝導体をメタルで覆ってやっと線材として使える様になるんですね。ただ、この超伝導体をメタルで覆うという作業は問題が発生します。超伝導体とメタルが反応してしまうんですね。で、反応してよくわからないものになってしまう。このよくわからない部分を減らすための研究というのが、線材化の研究といえるのではないかと思っています。」<br>
            <br>
            また、現在最高のTcは１３８ケルビンで、この温度でも高温超伝導体よばれていますが、3００ケルビンの室温で電線などに利用するにはまだ温度が低いのです。そうした中で、神原陽一氏は、典型的な磁石である鉄が正方格子状に無限に広がった結晶構造を持つ物質群が、超伝導体に適していることを発見しました。<br>
            <br>
            Q「例えば半導体として使われているシリコンだったり、あとは絶縁体で宝石として使われているダイヤモンドであったり、あと驚くべき事に構造、建築材料ですね、セメントの一種や、あとは鉄ですね。磁石である鉄も少し化学組成を変えてあげたり、高圧をかけてあげたりすると超伝導体になります。」<br>
            <br>
            いろいろな元素を利用して、室温下で超伝導体として使用可能な送電線が実現すれば、無駄のない電力の発電、利用が可能になります。<br>
            <br>
            Q「現在ですとリニアモーターカーの磁場を発生させる装置に使うとか、あとMRIの強磁場を発生させるための装置として使用する、そういった応用例がありますのでそこに使­えような応用研究が出来たらなと思っています。」</p>
          </div>
        </div>
       </div>
     </div>