<div class="container">
  <h4>【Notice】 12月と1月は研究室の装置が混雑します.</h4>
  
  <h3>合成関係</h3>
  <a href="http://iaso.env.keio.ac.jp/iasor6/iaso_file/c/manual/ja/iasoR6.pdf#page=1&amp;view=FitH" rel="nofollow">Manual for users</a><br>
  <a href="http://iaso.env.keio.ac.jp/iasor6" rel="nofollow">試薬の登録, 管理, 廃棄手続き(薬品管理支援システムIASO R6, 学内限定)</a><br>
  for 研究室の学生各位<br>
  *新規購入した試薬は, 全て登録すること.<br>
  *マスターのない場合, そのままでは申請が出来ないため, マスター申請を行われたい.<br>
  必要な事項<br>
  (1) 薬品名(製品名), (2) メーカー, (3) 規格(純度は必須!), (4) 内容量, (5) CAS No. (6) 製品番号, (7) 保存方法, (8) 容器区分<br>
  例. (1) ヒ素 (2) 高純度化学研究所 (3) Grains ca. 2-5 mm (4) 20 g (5) 7440-38-2 (6) (瓶や箱を見ること), (7) アルゴン封入 (8) ガラス瓶<br>
  *CAS No. は MSDSデータシートを確認の上, 入力されたい.<br>
  高純度化学の場合, <a href="http://www.kojundo.co.jp/Japanese/Guide/index.html" rel="nofollow">http://www.kojundo.co.jp/Japanese/Guide/index.html</a>より各製品のMSDSが入手可能です.<br>
  CAS No.が不明な場合は<a href="http://www.cas-no.org/" rel="nofollow">http://www.cas-no.org/</a> より CAS No.を検索可能です.<br>
  *マスター申請に不備のある場合は, 申請が受理されない場合があるため, 注意されたい.<br>
  申請が不受理となった場合は, IASO上で返信がくるので, 必ず確認すること.<br>
  (別の人がログインした場合, 返信を消してしまう場合があるので, 注意すること.)<br>
  (返信があった場合は, 申請者以外であっても, Mailing Listで周知すること.)<br>
  *詳細は, 26-312Aにあるマニュアル等を熟読されたい.<br>
  *不明な点は, 月曜日のミーティングにて神原まで連絡されたい.<br>
  <br>
  真空グローブボックス 美和製作所 <a href="http://www.miwass.co.jp/cont/ja/products001.html" rel="nofollow">Vacuum-type glove box (Miwa Co. Ltd.; O2, H2O .&lt; 1 ppm)</a><br>
  パージ式グローブボックス 美和製作所 <a href="http://www.miwass.co.jp/cont/ja/products002.html" rel="nofollow">Perge-type glove box  (Miwa Co. Ltd.; O2, H2O .&lt; 1 ppm)</a>)<br>
  高周波加熱装置 SKメディカル <br>
  <a href="http://www.kdf.co.jp/japanese/products/scientific/s02" rel="nofollow">スーパーカンタル炉(Denken-Highdental Co., Ltd. Zircom)</a><br>
  ランプ加熱炉 アルバック理工 <a href="http://www.ulvac-riko.co.jp/E-50.htm" rel="nofollow">MILA5000 (ULVAC-RIKO,Inc.)</a><br>
  ガス循環 シリコニット電気炉 <a href="http://www.siliconit.co.jp/company/index.html" rel="nofollow">シリコニット社</a>, <a href="http://www.alpha-tr.co.jp/" rel="nofollow">アルファ技研</a><br>
  マッフル炉 <a href="http://www.eyela.co.jp/" rel="nofollow">EYELA社</a><br>
  ドライオーブン<br>
  電子天秤 (<a href="http://japan.mt.com/jp/ja/home.html" rel="nofollow">メトラー社</a>)<br>
  石英ガラス各種 (電気溶融石英をおもに合成に使用)<br>
  大野ロール 卓上圧延機 <a href="http://www1.odn.ne.jp/~adm95490/atuenki.html" rel="nofollow">φ63溝・平兼用圧延機</a><br>
  
  <h3>真空関係</h3>
  ファインコーター 日本電子 <a href="http://www.jeol.co.jp/" rel="nofollow">JEOL Ltd.; JFC-1200</a><br>
  ターボ分子ポンプ <a href="http://www.pfeiffer-vacuum.com/" rel="nofollow">ファイファー社</a><br>
  ロータリーポンプ<br>
  ガス置換封入装置(swagelok使用, 一部自作)<br>
   
  <h3>物性計測関係</h3>
  自作低温&amp;高温輸送現象測定装置　(電気抵抗率, ゼーベック系数, 熱伝導率)<br>
  反射率・透過率測定装置 <a href="http://www.hitachi-hitec.com/science/uv/u4100_solid.html" rel="nofollow">日立ハイテック, 固体試料測定システム, U-4100 (Hitachi High-Technologies Corporation)</a><br>
  *積分球を使用した全拡散反射(Total diffuse reflection)分光でよく使用しています.<br>
  X線回折装置 (リガク, Rint2500V, 1500 ℃ 試料高温オプション付き)<br>
  金属顕微鏡 (オリンパス)<br>
  テスター各種<br>
   
  <h3>学科共通機器</h3>
  3He 冷凍機 (立ち上げ中)<br>
  MBE (立ち上げ中)<br>
  Hall効果測定装置 (T= 10-300 K, B = 0-0.3 T)<br>
  
  <h3><a href="http://www.sfr.st.keio.ac.jp/index.htm" rel="nofollow">中央試験場で良く使用する装置</a></h3>
  SQUID磁束計 (カンタムデザイン, MPMS-XL)<br>
  <a href="http://www.bruker-axs.com/d8_venture_single_crystal_diffractometer.html" rel="nofollow">X線回折装置</a><br>
  EPMA<br>
  X線光電子分光装置<br>
</div>
  