    <div class="jumbotron">
      <div class="container">
        <h1>的場･神原研究室</h1>
        <h2>Matoba & Kamihara Lab.</h2>
        <p>慶應義塾大学理工学部物理情報工学科</p>
      </div>
    </div> 
    <div class="learn-more">
      <div class="container">
        <div class="row">
          <div id="news" class="col-md-4">
          <h3>イベント＆ニュース</h3>
          <table>
            <tbody class="scrollBody">
              <tr><td class="date">15/09/21</td><td class="news">ホームページをリニューアルしました<td></tr>
              <tr><td class="date">15/09/21</td><td class="news">ホームページをリニューアルしました<td></tr>
              <tr><td class="date">15/09/21</td><td class="news">ホームページをリニューアルしました<td></tr>
              <tr><td class="date">15/09/21</td><td class="news">ホームページをリニューアルしました<td></tr>
              <tr><td class="date">15/09/21</td><td class="news">ホームページをリニューアルしました<td></tr>
              <tr><td class="date">15/09/21</td><td class="news">ホームページをリニューアルしました<td></tr>
              <tr><td class="date">15/09/21</td><td class="news">ホームページをリニューアルしました<td></tr>
              <tr><td class="date">15/09/21</td><td class="news">ホームページをリニューアルしました<td></tr>
            </tbody>
          </table>
          </div>
          <div class="col-md-4">
          <h3>この研究室を希望される方へ</h3>
          <p>学部３年生、および大学院入試を控えた方はこちらをご覧ください。</p>
          <p><a href="about.html">的場･神原研概要</a></p>
          </div>
          <div class="col-md-4">
          <h3>紹介Movie</h3>
          <p>Web of Scienceの使い方についてレクチャーしています。</p>
          <p><a href="http://ip-science.thomsonreuters.jp/products/web-of-science/yokuwakaru/">紹介Movieを見る</a></p>
          </div>
        </div>
       </div>
     </div>
    <div class="neighborhood-guides">
        <div class="container">
            <h2>超電導･新物質探索研究室</h2>
            <p>私どもは高温超伝導体と熱電エネルギー変換材料を中心とした物質を電子と格子からなる系としてとらえ,実験的理論的に研究し,<br>
エネルギー環境分野に寄与できる新材料の創出を主眼としています.<br>
 
現代の凝縮系科学の発展は非常に早く, それに追随することは
大変苦労の多い仕事です. <br>
とはいえ, このような努力は人類の生活の変化により生じてしまったエネルギー環境に関する課題解決のために必須のものであると, 私どもは信じています.<br>

 
われわれは人類の先端知識に学び, 時々は先導しつつ,産業をはじめとする外の社会との関わりを模索しています.<br>
私どもの研究室は慶應義塾大学矢上キャンパスの23棟3Fを中心に研究活動をしています.</p>
        </div>
    </div>