<div class="container">
  <h3>学内</h3>
  <a href="http://www.keio.ac.jp/">慶應義塾大学</a><br>
  <a href="http://www.st.keio.ac.jp/">理工学部</a><br>
  <a href="http://www.appi.keio.ac.jp/">物理情報工学科</a><br>
  <a href="http://www.scitech.lib.keio.ac.jp/">理工学部メディアセンター</a><br>
  <h3>文献調査によく使うサイト</h3>
  <a href="https://webofknowledge.com/">Web of Science</a> より "Web of Science へログイン": 網羅的な検索サイト.<br>
  <a href="http://ip-science.thomsonreuters.jp/ssr/comics/">神原出演中</a><br>
  <a href="http://www.sciencedirect.com/">http://www.sciencedirect.com/</a> : プロシーディングス(国際会議論文)が充実.<br>
  <a href="http://arxiv.org/">http://arxiv.org/</a> : プレプリント(論文投稿中 or 前の草案)サーバー, <a href="http://arxiv.org/list/cond-mat.supr-con/recent">超伝導</a>に関して世界最新情報. 一部2ch的 <br>
  <a href="https://www.jstage.jst.go.jp/browse/-char/ja/">JSTAGE</a> : 日本語の文献. 解説記事が充実.<br>
  <a href="http://publish.aps.org/search/">アメリカ物理学会</a> : 資料価値が高い論文が多い.<br>
  <a href="http://pubs.acs.org/search/advanced">アメリカ化学会</a> :  新物質多数.<br>
  <a href="http://iopscience.iop.org/search">(英国)物理学会</a>: <a href="http://iopscience.iop.org/1367-2630">New J. Phys.</a>等 関連の論文誌多い<br>
  <a href="http://jpsj.ipap.jp/journal/search.html">日本物理学会</a> : 昔から掘り出し物多い. 超伝導&amp;凝縮系科学に優れた論文多数.<br>
  <a href="http://scholar.google.co.jp/">Google Scholar</a><br>
  <a href="http://www.jetp.ac.ru/cgi-bin/e/index">Journal of Experimental and Theoretical Physics (色々すごい)</a><br>
  <br>
  <a href="http://hiyoshi-facultylounge.jp/">ファカルティラウンジ</a><br>
  <a href="http://www.mex.mech.keio.ac.jp/js/">機械系共通実験室 実習室</a><br>
  <a href="http://www.expr.st.keio.ac.jp/">電気系共通実験室 (クリーンルーム)</a><br> 
  <a href="http://www.sfr.st.keio.ac.jp/">中央試験場</a><br>
  <br>
  <a href="http://kobo.rcp.keio.ac.jp/index.html">公的機関, 民間財団・民間企業等の公募情報(研究支援センター)</a><br>
  <br>
  <h3>大学院生向けの国際会議発表補助を設けている財団等抜粋</h3>
  <a href="https://www.tmf-zaidan.or.jp/">東電記念財団</a><br>
  <a href="http://www.candc.or.jp/index.html">NEC C&amp;C 財団</a><br>
  <a href="http://www.keiokougakukai.org/">慶應工学会</a> <br>
  KLL (学内)  *発表を希望する学会の概ね半年前に助成申請の〆切があるので注意されたい.
  
  <a href="http://www.env.keio.ac.jp/safety/index.htm">慶應義塾大学安全マニュアル</a><br>
  <a href="http://www.hcc.keio.ac.jp/japanese/information/branchnews/yagami/yagami_news.htm">慶應義塾保健管理センター矢上</a>  
  
  <h3>授業関係</h3>
  <a href="https://renandi-yg.st.keio.ac.jp/renandi/index.jsp">renandi (学内限定)</a><br>
  
  <h3>学会</h3>
  <a href="http://www.jps.or.jp/">日本物理学会</a><br>
  <a href="http://www.jsap.or.jp/">応用物理学会</a><br>
  <a href="http://www.magnetics.jp/">日本磁気学会</a><br>
  <a href="http://www.aps.org/">American Physical Society</a><br>
  <a href="http://www.aps.org/meetings/calendar.cfm">APS Meeting Calendar</a><br>
  <a href="http://www.mssj.gr.jp/">日本材料科学学会</a><br>
  <a href="http://mrs-j.org/home/">The Material Research Socety of Japan (日本MRS)</a><br>
  <a href="http://www.csj.or.jp/">低温工学・超電導学会</a><br>
   
  <h3>参加プロジェクト研究</h3>
  <a href="http://www.af-info.or.jp/subsidy/doc/2014adoptionlist.pdf">公益財団法人旭硝子財団 平成26年度助成研究　20 K付近での応用を目指した新超伝導物質・新超伝導線材の研究</a><br>
  <a href="https://kaken.nii.ac.jp/d/p/26400337.ja.html">日本学術振興会科学研究費助成事業基盤研究C(研究課題番号：26400337)　二次元近藤格子系の量子臨界状態と電子構造</a><br>
  <a href="https://kaken.nii.ac.jp/d/p/15H01998.ja.html">量子井戸構造に基づく2次元金属薄膜への磁気機能の誘導とその応用展開 (代表:慶應義塾大学 佐藤徹哉 教授, 分担: 神原)</a><br>
  <a href="http://www.sumitomo.or.jp/">公益財団法人住友財団　2014年度　基礎科学研究助成　</a>ペロブスカイト関連鉄系超伝導体を用いたエネルギー輸送の研究<br>
  
  <h3>終了プロジェクト</h3>
  <a href="http://www.hm-foundation.jp/history/record1.html">日立金属材料科学財団研究助成(H25-26)</a><br>
  <a href="http://www.supera.titech.ac.jp/organization/index.html">最先端研究開発支援(FIRST)プログラム, 新超電導および関連機能物質の探索と産業用超電導線材の応用(代表 東京工業大学 細野秀雄 教授), NIMS 熊倉グループ</a><br>
  <a href="http://www.jst.go.jp/kisoken/htsc/index.html">科学技術振興機構 戦略的創造研究推進事業 新規材料による高温超伝導基盤技術(JST, TRiP)</a><br> 
  <a href="http://kaken.nii.ac.jp/d/p/07740310.ja.html">正孔と電子を同時にドープした強相関電子系NiSの金属-非金属転移に関する研究(科研費 奨励研究(A))</a><br>
  <a href="http://kaken.nii.ac.jp/d/p/11640358.ja.html">新規な層状遷移金属オキシ硫化物の機能発現機構と物性制御(科研費 基盤研究(C))</a><br>
   
  <h3>共同利用・共同研究拠点等での共同研究</h3>
  <a href="http://www.msl.titech.ac.jp/~atou/Site/Welcome.html">東京工業大学　応用セラミックス研究所　阿藤研究室</a><br>
  <a href="http://www.msl.titech.ac.jp/~itohlab/">東京工業大学　応用セラミックス研究所　伊藤・谷山研究室</a><br>
  <a href="http://www.rri.kyoto-u.ac.jp/NRP/index.htm">京都大学原子炉実験所 放射物理学研究室</a><br>
  <a href="http://www.sanken.osaka-u.ac.jp/joint_research/index.html">物質・デバイス領域共同研究拠点: </a><a href="http://qed4.es.hokudai.ac.jp/">北海道大学ナノ構造物性研究分野</a>, <a href="http://www.es.hokudai.ac.jp/labo/photocontrol/">光電子ナノ材料研究分野</a><br>
  東京大学物性研究所 (金道研究室, 物性研スパコン)<br>
  <a href="http://user.spring8.or.jp/?lang=ja">SPring-8 ユーザ</a><br>
   
  <h3>共同研究実績 (2010-)</h3>
  <a href="http://www.nims.go.jp/NFM/">物質材料研究機構 (NIMS) ナノフロンティア材料研究室</a><br>
  <a href="http://www.ss.scphys.kyoto-u.ac.jp/">京都大学 固体量子物性研究室</a><br>
  <a href="http://www.fujiwara.h.kyoto-u.ac.jp/">京都大学 高圧NMR研究室</a><br>
  <a href="http://www.nanosq.21c.osakafu-u.ac.jp/ttsl/i_yamada.html">大阪府立大学21世紀科学研究機構ナノ科学・材料研究センター 山田幾也研究室</a><br>
   
  <h3>お世話になった研究助成等</h3>
  <a href="http://www.recsat.keio.ac.jp/josei/gakujisinko_shikin.html">慶應義塾学事振興資金</a><br>
  <a href="http://www.rcp.keio.ac.jp/ora/jukunai/fukuzawa.html">福澤基金</a><br>
  <a href="http://www.kll.keio.ac.jp/shitei_p/index.html">KLL 指定研究プロジェクト</a><br> 
   
  <h3>研究室の基礎知識</h3>
  <a href="http://www.siyaku.com/">試薬の 化学物質安全性データシート(MSDS)検索</a><br>
  <a href="http://materials.springer.com/">SPringer Materials 物性データベース(学内限定)</a><br>
  <a href="http://srdata.nist.gov/its90/main/">NISTの熱電対データベース(ITS-90準拠)</a><br>
  <a href="http://library.caltech.edu/reference/abbreviations/">ABBR(学術論文誌名の省略形)を確認</a><br>
  <a href="http://www.gaikokugo-goodandnew.com/index.html">日本のサラリーマンのためのビジネス英会話資料室</a><br>
  <a href="http://englishplus.com/grammar/mistcont.htm">Common Mistakes and Tricky Choices (英文法)</a><br>
  <a href="https://jrecin.jst.go.jp/seek/SeekTop">研究者向けの求人情報サイト JREC-IN (JST-Japan)</a><br>
  <a href="http://www.iuvsta.org/IUVSTA_Educational_Material.html">蒸気圧(IUVSTAのHome Page)</a><br>
  <a href="https://archive.org/details/117714283">Vector Analysis (J. W. Gibbs, E. B. Willson)</a><br>
  <a href="http://xdb.lbl.gov/">X-RAY DATA BOOKLET, Center for X-ray Optics and Advanced Light Source, Lawrence Berkeley National Laboratory</a><br>
  <a href="http://www.iupac.org/">IUPAC (International Union of Pure and Applied Chemistry)</a>
  
  <h3>PCのOS再インストール関係 e.g.</h3>
  <a href="http://h20564.www2.hp.com/hpsc/doc/public/display?docLocale=null&amp;docId=emr_na-c03453616">HP ProBook、EliteBook Notebook PC シリーズ - リカバリ領域 (f11キー) から Windows 7 を再インストールする方法 (2012年度製品)</a><br>
  <a href="https://www.dc-library.com/">デジタルカタログライブラリ（As one 研究用総合機器カタログなど)</a><br>
  <a href="https://en.wikipedia.org/wiki/VSEPR_theory">Valence shell electron pair repulsion (VSEPR) theory</a><br>
  <a href="http://chemwiki.ucdavis.edu/">chemwiki@ucdavis</a>
  
  <h3>画像/文書作成時の参考WEBサイト &amp; ソフトウェア</h3><a href="http://kakikata.dkrht.com/">書き方ができる人コム</a><br>
  <a href="http://oku.edu.mie-u.ac.jp/~okumura/texwiki/?EasyTeX">Easy TeX (基本的にこれで作文)</a> <a href="http://www.xlsoft.com/jp/products/primopdf/index.html">PrimoPDF (通常の印刷でPDF作成)</a><br>
  <a href="http://www.forest.impress.co.jp/library/software/gimp/">Gimp (画像処理, 例. jpg -&gt; eps変換, 注. wmfなどのベクトル形式の画像をこれで変換すると不鮮明になるので注意)</a><a href="http://www.wolf-s.homepage.t-online.de/wmf2eps/index.htm">wmf2eps (画像処理, wmfの作成とepsへの変換. ベクトル形式の画像はこれで変換されたい.)</a><br>
  <a href="http://www.mtl.t.u-tokyo.ac.jp/~iizuka/nt/eps/">TeXに張り付けるEPS形式の図をWindows上で作成する方法</a><br>
  <a href="http://www.ise.chuo-u.ac.jp/ise-labs/kubota-lab/kniwa/tex03.html">wmf2eps - PowerPoint等の図をEPS形式に変換</a>
  
  <h3>WEB関連</h3>
  <a href="https://%E9%A0%98%E5%8F%8E%E6%9B%B8.net/">領収書</a><br>
  <a href="http://n7.com/japanese/">日本語URL変換ツール</a><br>
  
  <h3>データの読み取りソフト</h3>
  <a href="http://www.vector.co.jp/soft/win95/business/se174822.html">Digital curve tracer (画像から, 数値データの読み取り)</a><br>
  
  <h3>固体物性シミュレーション関係</h3>
  <a href="http://en.wikipedia.org/wiki/Space_group">空間群(wikipedia)</a><br>
  <a href="https://subversion.xray.aps.anl.gov/trac/CMPR/wiki">CMPR (from Argonne National Laboratory): a free multipurpose program for powder diffraction data</a><br>
  <a href="http://www.cryst.ehu.es/">空間群を使うのに便利なサイト"Bilbao Crystallographic Server"</a><br>
  <a href="http://www.wien2k.at/">wien2k</a><br>
  <a href="http://www.wien2k.at/reg_user/textbooks/DFT_and_LAPW-2_cottenier.pdf">"Density Functional Theory and the Family of (L)APW-methods: a step-by-step introduction" by S. Cottenier</a><br>
  <a href="http://www.vasp.at/">VASP</a><br>
  <a href="http://www.opencalphad.org/">opencalphad</a><br>
  <a href="http://kitchingroup.cheme.cmu.edu/dft-book/">Welcome to dft-book - The Kitchin Research Group (実践的なDFTの説明書)</a><br>
  <a href="http://physics.ucdavis.edu/~mindlab/">MindLab</a><br>
  <a href="http://www.geocities.jp/kubo_appi/Band.html">MStudio Mind Labの使い方</a><br>
  <a href="http://www.chem.ous.ac.jp/~gsakane/">～DV-Xα分子軌道計算と三次元可視化システムVENUSについての情報(Prof. SAKANE, Genta, Okayama Univ.)</a><br> 
  <a href="http://phonopy.sourceforge.net/">Phonopy (Atsushi Togo准教授により公開されているsource package of phonon calculations)</a><br>
  <a href="http://www.fplo.de/index.html">FPLO Homepage (ドイツ製のDFT計算パッケージ)</a><br>
  <a href="http://www.computingformaterials.com/index.html">Phonon Software; computing for Materials</a><br>
  <a href="http://www.calypso.cn/">CALYPSO-An Efficient Structure Prediction Method and Computer Software (Copyright © 2012 CALYPSO Developers Group)</a><br>
  <a href="http://www.wolframalpha.com/">Wolframalpha</a><br>
  <a href="http://www.comsol.com/blogs/">Cosmol Blog (マルチフィジックス(連成)解析用ソフト)</a> *support より学習用ビデオ有<br>
  <a href="http://ums.futene.net/wiki/FEM/introduction/index.html">Introduction of FEM, 有限要素法の概略</a><br>
  <a href="http://www.sml.k.u-tokyo.ac.jp/members/nabe/lecture2003/01.pdf">有限要素法特論</a><br>
  <a href="http://www2.cpfs.mpg.de/~rotter/homepage_mcphase/McPhase_-_the_World_of_Rare_Earth_Magnetism.html">McPhase, a program package for the calculation of magnetic properties</a><br>
  
  <h3>プリント基板加工</h3>
  <a href="http://www.suigyodo.com/online/mbe/manual/index.htm">Minimal Board Editor マニュアル</a><br>
  <a href="http://www.ucamco.com/downloads">UCAMCO社資料集</a>
  
  <h3>科学ニュース </h3>
  <a href="http://scienceportal.jp/">サイエンスポータル</a><br>
  <a href="http://www.scienceplus2ch.com/">(*ﾟ∀ﾟ)ゞカガクニュース隊</a><br>
  
  <h3>粉末X線結晶構造解析に重宝するソフトとホームページ</h3>
  <a href="http://fujioizumi.verse.jp/download/download_Eng.html">泉富士夫 先生のRietan-FP&amp;VENUS package</a><br>
  <a href="http://jp-minerals.org/vesta/jp/">結晶構造の図示にはVESTA</a><br>
  <a href="http://www16.ocn.ne.jp/~structur/rietanj.html">ゼロから始めるRIETAN-2000を用いてのリートベルト解析</a><br>
  (古谷龍也氏の個人HP, 注. Rietan2000は2000年代によく使われたソフトウェアです. 現在はRietan-FPにその役目が移りました. 基本的な精密化手法は, 変わりません. 初学者にもわかりやすく, まとめられています.)<br>
  <br>
  スタッフによるつぶやきは<a href="https://twitter.com/#!/Yo_Ching_Keio">こちら</a><br>
  
  <h3>スタッフの独断と偏見によるお気に入りのリンク</h3>
  <a href="http://www.joqr.co.jp/index.php">文化放送</a><br>
  <a href="http://www.nicovideo.jp/">ニコニコ動画（原宿）</a><br>
  <a href="http://www.2ch.sc/">にちゃんねる</a><br>
  <a href="http://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">Wikipedia</a><br>
  <a href="http://ja.uncyclopedia.info/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">Uncyclopedia</a><br>
  <a href="http://jbbs.livedoor.jp/study/11316/">参考</a><br>
</div>
  
