<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table style="font-size: 15px;">
        <tr>
          <th>スタッフ</th>
        </tr>
        <tr>
          <td>的場正憲</td>
          <td>matobam$at$appi.keio.ac.jp</td>
        </tr>
        <tr>
          <td>神原陽一</td>
          <td>kamihara_yoichi$at$appi.keio.ac.jp</td>
        </tr>
        <tr>
          <td>中山美恵子</td>
          <td>nakayama_mieko$at$appi.keio.ac.jp</td>
          <td>（秘書）</td>
        </tr>
        <tr>
          <th>修士課程</th>
        </tr>
        <tr>
          <td>和田 周</td>
        </tr>
        <tr>
          <td>関根 絵里菜</td>
        </tr>
        <tr>
          <td>小野 仁</td>
          <td>mericanfootball1$at$a3.keio.jp</td>
        </tr>
        <tr>
          <td>飯原 潤</td>
          <td>j-iihara.0601$at$a7.keio.jp</td>
        </tr>
        <tr>
          <td>長嶺 良磨</td>
          <td>kazuma.n$at$a3.keio.jp</td>
        </tr>
        <tr>
          <td>木下 拓郎</td>
          <td>tokarue$at$z6.keio.jp</td>
        </tr>
        <tr>
          <td>木下 寛己</td>
          <td>hiroki96kinoshita$at$a7.keio.jp</td>
        </tr>
        <tr>
          <td>馬渕 貴洋</td>
          <td>mabeetrbtaka$at$a5.keio.jp</td>
        </tr>
        <tr>
          <td>下崎 誠治</td>
          <td>seiji25643$at$a8.keio.jp</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>井田 和則</td>
          <td>kazu-ida$at$a8.keio.jp</td>
        </tr>
        <tr>
          <td>中島 祥</td>
          <td>sho61115384$at$z5.keio.jp</td>
        </tr>
        <tr>
          <td>日比野 拓</td>
          <td>taku87$at$z8.keio.jp</td>
        </tr>
        <tr>
          <td>松本 裕介</td>
          <td>yusukematsumoto$at$z3.keio.jp</td>
        </tr>
        <tr>
          <td>勝俣 哲</td>
          <td>satorun.ae$at$gmail.com</td>
        </tr>
        <tr>
          <td>木俣 亮祐</td>
          <td>1141107Kimata$at$a7.keio.jp</td>
        </tr>
        <tr>
          <td>菅原 大道</td>
          <td>bu.beibu$at$z5.keio.jp</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>岩崎 秀</td>
        </tr><tr>
          <td>Imad Chelali</td>
        </tr>
        <tr>
          <th>学部</th>
        </tr>
        <tr>
          <td>田原 豪</td>
          <td>pysnoo$at$a8.keio.jp</td>
        </tr>
        <tr>
          <td>中野 翔太</td>
          <td>s_nakano4869$at$z7.keio.jp</td>
        </tr>
        <tr>
          <td>室伏 基</td>
          <td>mx.61219993$at$z2.keio.jp</td>
        </tr>
        <tr>
          <td>谷中 慎太郎 </td>
        </tr>
        <tr>
          <td>坂上 良介</td>
          <td>sak$at$keio.jp</td>
        </tr>
        <tr>
          <td>大塚 貴史</td>
          <td>t.otsuka$at$a3.keio.jp</td>
        </tr>
        <tr>
          <td>小野 桃子</td>
        </tr>
        <tr>
          <td>加藤 達輝</td>
          <td>f1y2w3n4b5t6h$at$z5.keio.jp</td>
        </tr>
        <tr>
          <td>川口 里美</td>
          <td>hatty$at$z6.keio.jp</td>
        </tr>
        <tr>
          <td>山本 和賜</td>
          <td>kazushi0819$at$z8.keio.jp</td>
        </tr>
        <tr>
          <td>中西 愛</td>
          <td>(早期配属)</td>
        </tr>
        <tr>
          <th>訪問研究員</th>
        </tr>
         <tr>
          <td><a href="http://www.bris.ac.uk/chemistry/people/simon-r-hall/index.html" rel="nofollow">Simon Hall</a></td>
          <td>(University of Bristol)</td>
        </tr>
         <tr>
          <td><a href="http://kenkyu-web.cin.nihon-u.ac.jp/Profiles/75/0007428/profile.html" rel="nofollow">岡田悟志</a></td>
          <td> (日本大学)</td>
        </tr>
         <tr>
          <td><a href="http://www.kitami-it.ac.jp/" rel="nofollow">平井 慈人</a></td>
          <td>(北見工業大学)</td>
        </tr>
        <tr>
          <td><a href="http://www.domen.t.u-tokyo.ac.jp/index/index_framepage.html" rel="nofollow">後藤陽介</a></td>
          <td>(東京大学 堂免峯岸研究室)</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6" style="padding-top: 40px; text-align:center;">
      <%= image_tag("beer.jpg", :size => "480x270") %>
    </div>
  </div>
</div>
  
